<% if @question.errors.any? %>
  <div class="text-red text-small mt-md">
    <% @question.errors.full_messages.each do |message| %>
      <p class="mb-sm">*<%= message %></p>
    <% end %>
  </div>
<% end %>

<%= form_with model: question, data: {turbo: false}, class: "mb-lg" do |form| %>
  <%= form.text_area :body, rows: 3, class: "form-text-area mb-sm", maxlength: 280 %>
  
  <%= form.label :user_id, "User ID" %>
  <%= form.text_field :user_id, class: "form-text-field mb-sm" %>
  
  <%= form.label :hidden, "Hidden" %>
  <%= form.check_box :hidden %>  

  <%= form.button "Save", class: "content-center button button-primary mt-md" %>
<% end %>
