<div class="question">
  <div class="question__info">
    <div class="text-grey text-small question__date">
      <%= l(question.created_at, format: :short) %>
    </div>

    <% if current_user == question.user %>
      <div class="question__actions ml-md">
        <%= button_to toggle_visibility_question_path(question), method: :put, class: "button button-transparent", 
          title: (question.hidden? ? "Unhide" : "Hide") do %>
            <% question.hidden? ? fa_icon("eye") : fa_icon("eye-slash") %>          
        <% end %>

        <%= button_to edit_question_path(question), method: :get, class: "button button-transparent", title: "Edit" do %>
          <%= fa_icon("pen-to-square") %>
        <% end %>

        <%= button_to question_path(question), method: :delete, class: "button button-transparent", title: "Delete",
          form: {data: {turbo_confirm: 'Are you sure you want to delete this question?'}} do %>
            <%= fa_icon("xmark") %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class="question__fact">
    <div class="question_users text-small">
      <% if question.author.present? %>
        <%= link_to display_nickname(question.author.nickname), user_path(question.author) %>  
      <% else %>
        Anonymous <i class="fa-solid fa-mask"></i>
      <% end %>
      to <%= link_to display_nickname(question.user.nickname), user_path(question.user) %>
    </div>

    <div class="<%= 'semitransparent ' if question.hidden? %>question__body">    
      <p><%= question.body %></p>
    </div>

    <% if question.answer.present? %>
      <div class="question__answer ml-lg">
        <p><%= question.answer %></p>
      </div>
    <% end %>
  </div>
</div>
