<h1 class="text-center">Sign in</h1>

<div class="mt-lg content-center user-form">
  <%= form_with scope: :session, url: session_path, data: {turbo: false} do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-text-field mb-md" %>

    <%= form.label :password %>
    <%= form.password_field :password, class: "form-text-field" %>
  
    <%= form.button "Sign in", class: "button button-primary mt-lg" %>
  <% end %>
</div>
