<h1 class="text-center">Sign up</h1>

<div class="mt-lg content-center user-form">
  <% if @user.errors.any? %>
    <div class="text-red text-small mt-md">
      <% @user.errors.full_messages.each do |message| %>
        <p class="mb-sm">*<%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: @user, data: {turbo: false} do |form| %>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-text-field mb-md", required: true %>

    <%= form.label :nickname, "Nickname" %></p>
    <%= form.text_field :nickname, class: "form-text-field mb-md", maxlength: 40, required: true %>

    <%= form.label :email, "Email" %></p>
    <%= form.text_field :email, class: "form-text-field mb-md", required: true %>

    <%= form.label :password, "Password" %>
    <%= form.password_field :password, class: "form-text-field mb-md", required: true %>

    <%= form.label :password_confirmation, "Password confirmation" %>
    <%= form.password_field :password_confirmation, class: "form-text-field", required: true %>

    <%= form.button "Sign up", class: "button button-primary mt-lg" %>
  <% end %>
</div>
